/* .container {
    max-width: 100vw;
    height: 50vh;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    background-color: red;
  } */

 
  /* Header */

        
  .headerContainer {
    background: var(--white);
  }

  .logo {
    padding: 1em 1.8em;
  }
  
  img.logo {
    width: 15em;
  }

  .headerChild {
    background:var(--black);
    width: 100%;
    display: flex;
    align-items: center;
    /* height: 3em; */
  }

  .headerChild {
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;
    list-style-type:none;
    line-height:25px;
    letter-spacing:0.1em;
    font-size:1em;
    font-weight:700;
    text-decoration:none;
    color: var(--white)!important;
    margin-left: 1em;
  }

  .headerChild > a {
    margin-right: 2em;
  }

  .headerChild a:hover,
  .headerChild a:focus,
  .headerChild a:active,
  .socialGrp a:hover  {
      color:var(--accent)!important;
      text-decoration: none;
  }

  .socialGrp {
      margin-left: auto!important;
  }



.socialGrp i {
  margin-right: 1em;
  font-size: 1.5em;
}

.regularznav {
  margin-right: 2em;
}

/* footer */
  a.highlight , .footer a{
    color:var(--accent) !important;
    text-decoration:none;
  }

  .footer {
    width:100%;
    background-color:var(--black);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height:100px;
  }
  
  .footer p {
    font-size:1em;
    color:var(--white);
    letter-spacing:1px;
    font-weight: 300;
  }

  .footer a {
    font-weight: 700;
  }

  /* main */

  .content {
    min-height: 70vh;
    padding-top: 8vh;
  }

  .pagesHeading {
    font-family: "Open Sans", sans-serif !important;
    font-weight: bold;
    color: var(--accent);
    text-transform: lowercase;
    /* margin-bottom: 1em; */
  }

  .coverImage {
    animation: circle 3s;
    padding-bottom: 2em;
}


@keyframes circle {
  0% { clip-path: circle(0%); }
  100% { clip-path: circle(100%); }
}

/* bootstrap responsive breakpoints */
/* // Medium devices (tablets, 768px and up) bootstraps col-md-* */

@media (max-width:991px) {
  .content {
    padding-top: 2vh;
  }
  .pagesHeading {
    text-align: center;
  }

}

/* Small devices (landscape phones, 576px and up (also applies to below 576 but can be overwritten by the next media querie) bootstraps col-sm */

@media (max-width: 767px) { 

  img.logo {
    margin-left: auto;
    margin-right: auto;
        width: 20em;
  }

.headerChild {
  margin-left: 0em;
}
.headerChild > a {
  margin-right: 0em;
  margin: .3em 0;
}
.socialGrp {
  margin-top: .5em;
  margin-bottom: .5em;
  margin-right: auto!important;
}
.socialGrp i {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto!important;
  margin-left: auto;
}
.footer p {
  font-size: .8em;;
}
}